/* Burger background image*/
body {
  background-image: url("/assets/img/limegreen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* #burgerOrder {
  background-color: red;
} */

#devoured-card-header  {
  background-color: #D9230F;
}

.jumbotron {
  background-color: transparent;
}

.lead {
  font-size: 24px;
  color:  #D9230F;
}

.devoured-burger-name {
  color:  #D9230F;
}
